*,*::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Reusable Styles */

    /* Font famaly  */

.fm-1{
    font-family: 'Merriweather', serif;
}

.fm-2{
    font-family: 'Inter', sans-serif;
}

/* Font weight */
.fw-400{
    font-weight: 400;
}
.fw-500{
    font-weight: 500;
}
.fw-600{
    font-weight: 600;
}
.fw-700{
    font-weight: 700;
}
.fw-900{
    font-weight: 900;
}
/* Font size */
.fs-18{
 font-size: 18px;
}

.fs-20{
 font-size: 20px;
}
.fs-24{
 font-size: 24px;
}
.fs-32{
 font-size: 32px;
}
.fs-48{
 font-size: 48px;
}
.fs-64{
 font-size: 64px;
}
.fs-72{
 font-size: 72px;
}
.fs-88{
 font-size: 88px;
}
/* text color */
.color-primary{
color:#ff0000;
}

.color-secondary{
    color:#070211;
}

.color-gray{
    color: #07021199;
}
.color-white{
    color: #fff;
}

/* bg color */
.bg-primary{
    background-color: #ff0000;
}
.bg-secondary{
    background-color: #070211;
}
.bg-gray{
    background-color:#07021199;
}
.bg-white{
    background-color:#fff;
}

.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
/* Line Height  */
.lh-30{
    line-height: 30px;
}
.lh-32{
    line-height: 32px;
}
.lh-56{
    line-height: 56px;
}
.lh-88{
    line-height: 88px;
}

/* Banner section style */
.banner{
    max-width: 1320px;
    height: 600px;
    margin: 50px auto 100px;
    text-align: center;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("./resources/Banner\ Image.png") center/cover;

}

.greeting{
    margin: 0 auto;
    padding: 177px 344px;
    height: 100%;
}

/* New year section style */

.new-year-pic{
    width: 802.9px;
    height: 500px;
}
.new-year-picture{
    margin-top: 48px;
}

/* Invitation section style */
.invitation-section{
    max-width: 1320px;
    height: 600px;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("./resources/Vectorrr.png") center/cover;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 100px auto;
    padding: 126px;
    display: flex;
   
}
.invite{
    max-width: 697px;
}
.invite-header{
    letter-spacing: 7.04px;
}
.invite-text{
    margin: 24px 0;
}
.invite-btn{
    text-transform: uppercase;
    background: transparent;
    border: none;

}
.new-year-pic{
    position: relative;
}
.new-year-pic img{
    position: absolute;
    left: 100px;
    top:-50px
}

/* Schedule section style */
.schedule-section{
    max-width: 1320px;
    height: 482px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin: 100px auto;
    padding: 100px 386px 126px;

}

.schedule-btn{
    padding: 16px 32px;
    border-radius: 8px;
    border: none;
    margin-top: 48px;
    text-transform: uppercase;

}

/* Offer section style */
.offer-section{
    max-width: 1320px;
    width: 1320px;
    margin: 100px auto;
    align-items: center;
    display: flex;
    justify-content: space-around;

}


.comming-soon{
    width: 393px;
}

.image-section{
    position: relative;
    min-height:463px;
    text-align: center;
}
.circle{
    top: -50px;
    left: -45px;
    position: absolute;
    width: 463px;
    height: 463px;
    border-radius: 463px;
    border: 15px solid #F00;
}
.new-offer{
    width: 276px;
    padding-left: 20px;
}
/* Holiday section style */
.holiday{
    max-width: 1320px;
    width: 1320px;
    margin: 100px auto;
    align-items: center;
}
.holiday-sale{
    padding: 0 126px;
}
.holiday-sale-desc{
    padding: 20px;
}
.holiday-image-area{
    display: flex;
    background-image: url("./resources/Rectangle\ 2.png") ;
    background-repeat: no-repeat;
    background-position: bottom center;

}
.img-sec-2{
    position: relative;
}
.rect-1, .img-44{
    position: absolute;
}
.rect-1{
    left: 95px;
    bottom: 225px;
    z-index: -1;
}

.img-44{
    bottom: 280px;
    left: -50px;
}

.portfolio{
    max-width: 1320px;
    width: 1320px;
    margin: 100px auto;
    align-items: center;
}
.portfolio-text-area{
    width: 996px;
}
.portfolio-text-area p, .portfolio-text-area h4{
    margin: 20px 0;
}
.portfolio-image-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;

}

.portfolio-image-section img{
    transition: transform 1s ease, box-shadow 1s ease
}
.portfolio-image-section img:hover{
    transform: scale(1.05);
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.subscribe{
    max-width: 1320px;
    width: 1320px;
    margin: 100px auto;
    text-align: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    height: 616px;
    padding: 80px 212px;  
}
.subscribe-form-area{
    margin: 48px auto;
    max-width: 648px;

}

.inputfield{
    padding: 25px 30px;
    border: none;
    outline: none;
    border-radius:  50px 0 0 50px;
}
.inputfield::placeholder{
    color: #0702114d;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    text-align: left;

}


.subscribe-btn{
    border: none;
    padding: 25px 30px;
    border-radius: 0 50px 50px 0;
}
/* Footer section style */
.footer{
    max-width: 1600px;
    background-color: #070211;
    margin: 100px auto 0;
    padding: 120px 140px;
}
.address-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:555px;
    margin-bottom: 50px;

}
.address, .contact{
    width: 50%;
    text-align: left;
}
.contact img{
    width: 24px;
    height: 24px;
}

.social-icons-area{
    margin: 100px auto;
    width: 1320px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.right-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:555px;
    margin-bottom: 50px;
    margin: 100px auto;
}
.right-desc{
    width: 50%;
    text-align: left;

}
.unsubscribe-btn{
    background-color: transparent;
    border: none;


}
hr{
    background: rgba(255, 255, 255, 0.15);
    height: 1px;
    color: #FFFFFF26;
    border: none;
}